.intro { 
  text-align: center; 
  font-family: Verdana;
}
body {
    background-color: #b2d6f5;
}

h2 { 
  font-size: 36px;
}

p { 
  font-size: 14pt;
}

.caption-text{
    font-size: 20px;
    text-align: center;
}

#image-gallery { 
    width: 90vh; 
    margin: 0 auto;
}

#current-image { 
    width: 80%;
    height: 80%;
} 

#image-thumbs { 
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.thumb { 
    width: 80px; 
    height: 80px; 
    object-fit: cover; 
    margin-right: 10px; 
    cursor: pointer;
}
/* Add a hover effect (blue shadow) */
.thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.row-cols-5{
    padding-top: 20px;
}

button {
    background-color: white;
    color: #4CAF50;
    border-radius: 8px;
    padding: 24px;
    max-height: 70px;
    font-size: 16px;
    object-fit: contain;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}